spring:
  h2:
    console:
      enabled: true  # H2 웹 콘솔 사용
  datasource:
    driver-class-name: org.h2.Driver  #h2 드라이버 설정
    url: jdbc:h2:mem:testdb  #접속 URL
    username: sa  # 사용자 이름 (로그인 시 사용)
    password:   # 사용자 암호 (로그인 시 사용)
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        #    show_sql: true
        format_sql: true
logging.level:
  org.hibernate.SQL: debug

jwt:
  issuer: SYJ_ISSUE
  secret: SeCRetKeYSeCRetKeYSeCRetKeYSeCRetKeYSeCRetKeYSeCRetKeYSeCRetKeYSeCRetKeY
  #  org.hibernate.type: trace
